.btn {
	&:link, &:visited {
		font-size: $default-font-size;
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		border-radius: 10rem;
		display: inline-block;
		position: relative;

		transition: all .5s; /*elemen akan berubah secara betahap dalam waktu 0.5s, sederhananya memperhalus perubahan elemen*/
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 .5rem 2rem rgba($color-black,.2);

		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active {
		transform: translateY(-1px);
		box-shadow: 0 .5rem 1rem rgba($color-black,.2)
	}

	&--white {
		background-color: $color-white;
		color: $color-gray-dark;

		&::after {
			background-color: $color-white;
		}
	}

	&--green {
		background-color: $color-primary;
		color: $color-gray-dark;

		&::after {
			background-color: $color-primary;
		}
	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all 0.5s
	}

	&--animated {
		animation: moveInBottom .5s ease-out .75s;
		animation-fill-mode: backwards;
	}
}

.btn-text {
	&:link, &:visited {
		font-size: 1.6rem;
		color: $color-primary;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $color-primary;
		padding: 3px;
		transition: all .2s;
	}

	&:hover {
        cursor: pointer;
		background-color: $color-primary;
		color: $color-white;
		box-shadow: 0 1rem 2rem rgba($color-black, .15);
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 .5rem 1rem rgba($color-black, .15);
	}
}